body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input-data,.todolist{
    display: grid;
    grid-template-columns: 100px 150px 100px;
    column-gap: 20px;
    row-gap: 20px;
  


}

.input-data{
    margin-bottom: 20px;
    
}
.todo-name,.todo-date{
padding: 10px;

font-size: large;
}